.journal__main {
  background-color: $primary-color;
}

.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $secondary-color;
  color: $primary-color-text;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 450px;
  padding-left: 10px;
  padding-right: 10px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}
.journal__sidebar-navbar .journal__sidebar-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .journal__sidebar-displayName {
    font-weight: 300;
  }
}

.journal__sidebar-avatar.sb-avatar__text {
  background-color: $primary-color !important;
  color: $primary-color-text !important;
}

.journal__new-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease;

  &:hover {
    color: darken($color: $primary-color-text, $amount: 20);
  }
}

.journal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.journal__entry {
  background-color: $alt-body;
  color: $secondary-text-color;
  border-radius: 4px;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.journal__entry-picture {
  flex: 1;
  background-size: cover;
  height: 75px;
  width: 75px;
}

.journal__entry-body {
  flex: 2;
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.journal__entry-date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5px;
}
.journal__entry-date-box span {
  font-size: 12px;
}
