.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $primary-color-text;
  padding: 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: $alt-body;
}
.notes__title-input,
.notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}
.notes__title-input {
  color: $primary-text-color;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}
.notes__textarea {
  // border: 1px solid $divider-color;
  border: none;
  color: $primary-text-color;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
}
.notes__image {
  padding-top: 10px;
  img {
    box-shadow: 5px 5px $secondary-text-color;
    // height: 175px;
    width: 175px;
  }
}
