.nothing__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $primary-color-text;
  height: 100vh;

  p {
    text-align: center;
  }
}
