// Colors

// $primary-color-dark: #c2185b;
// $primary-color: #e91e63;
// $primary-color-light: #f8bbd0;
// $primary-color-text: #ffffff;
// $primary-color-icons: #ffffff;
$secondary-color: #757575;
// $accent-color: #00bcd4;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #bdbdbd;
$alt-body: #fafafa;

$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #ffffff;
$primary-color-icons: #ffffff;
$accent-color: #ff4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

// Google Auth
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
